
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     text-decoration: none;
    
}

.inter-fonts {
  font-family: "Inter", sans-serif;
  
}



/*  NavbarNavbarNavbarNavbarNavbarNavbar  */
.head {
    width: 100%;
    background-color: #f3f3f3;
    padding: 10px 20px;
    
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.logo {
    height: 50px;
}

/* Links */
.head-content ul{
    display: flex;
    gap: 25px;
    cursor: pointer;
    list-style: none
    
}

/* Button */
.head-content button{
    padding: 8px 18px;
    background-color: #22c55e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    
}
/* section-01section-01section-01section-01section-01 */


.sec1{
    background-color: rgb(248, 248, 248);
    text-align: center;
    max-width: 1200px;
    position: relative;
    width: 100%;                         
    min-height: 100vh;    
     background-image: url("assets/hero-bg.png");
     background-size: cover;  
     background-position: center;        
    background-repeat: no-repeat;  
    margin: 0 auto;
    display: flex;                      
    align-items: center;
    justify-content: center;

}
.sec1div{
    width: auto;
    color: aliceblue;

}
.sec1div h1{
   
    width: 670px;
    height: 148px;
    font-size: 350%;
}
.sec1div p{
    margin-bottom: 15px;
}
.badge{
    
    padding: 3px 10px;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
.badge img{
    height: 10px;
    margin-right: 5px;
}
.primary{
    background-color: #469165;
    padding: 13px 19px;
    border: none;
    border-radius: 5px;
    font-size: 12PX;
    color: #f3f3f3;
    margin-right: 5px;

}
.outline{
    background: none;
    border-color: #f3f3f3;
    padding: 13px 19px;
    border-width: .1ic;
    border-radius: 4px;
    color: #f3f3f3;
    margin-left: 5px;
}
/* section-02section-02section-02section-02 */
 .sec2{
    background-color: #fdfffe;
    
    
 }
 .sec2-head{
    text-align: center;
 }
 .sec2-head h1{
    padding-top: 40px;
    padding-bottom: 10px;
    color: #001931;
 }

 .sec2-list{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding-bottom: 44px;
    padding-top: px;
    padding-left: px;
    padding-right: px;
 }
.sec2-list h3{
color: #001931;
}
.sec3-list p{
    color: #627382;
}
.li-box1{
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: .5px solid gray;
    border-radius: 4%;
    margin-right: 12px;
    margin-left: 0px;
    border: none;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);



}
.li-box1 img{
    height: 47px;
    background-color: rgb(240, 64, 64);
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
}
.li-box1 h3{
    margin-bottom: 10px;
    
}

.li-box2{
     text-align: center;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: .5px solid gray;
    border-radius: 4%;
    margin-right: 12px;
    margin-left: 0px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    border: none;

}
.li-box2 img{
    height: 47px;
    background-color: rgb(240, 64, 64);
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.li-box2 h3{
    margin-bottom: 10px;
    
}
.li-box3{
     text-align: center;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: .5px solid gray;
    border-radius: 4%;
    margin-right: 12px;
    margin-left: 0px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    border: none;

}
.li-box3 img{
    height: 47px;
    background-color: rgb(240, 64, 64);
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.li-box3 h3{
    margin-bottom: 10px;
    
}
.li-box4{
     text-align: center;
    width: 300px;
    height: 200px;
    background-color: #f8f7f7;
    border: .5px solid gray;
    border-radius: 4%;
    margin-right: 12px;
    margin-left: 0px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    border: none;

}
.li-box4 img{
    height: 47px;
    background-color: rgb(240, 64, 64);
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.li-box4 h3{
    margin-bottom: 10px;
    
}

/* section-03section-03section-03section-03section-03 */
.sec3{
    padding: 20px 20px;
    background-color: #ffffff;
}
.sec3-content{
    display: flex;
    gap: 60px;
}
.sec3-logo{
    width: 480px;     
    height: 480px;    
    object-fit: cover;
}
.sec3-part1{
    padding-top: 38px;
}
.p2-p{
    margin-bottom: 10px;
    color: #239a4f;
    
}
.sec3-part2 h1{
    margin-bottom: 10px;
    color: #001931;

}
.sec3-part2 p{
    padding-top: 5px;
    font-size: large;
    padding-bottom: 2px;
    color: #627382;
}
.sec3-li{
      list-style: none;
  font-size: large;
  color: #001931;
  width: 382PX;
  height: 20PX;
}
.sec3-li img{
    height: 16px ;
}
.s3li1{
    padding-bottom: 8px;
    padding-top: 25px;
}
.s3li2{
    padding-bottom: 8px;
}

.s3li3{
    padding-bottom: 8px;
}
.s3li4{
    padding-bottom: 8px;
}
/* section-04section-04section-04section-04section-04 */
.sec4{
background-color: #FFFFFF;
}
.sec4-contant{
    text-align: center;
    padding: 120px 120px;
    
    
}
.s4-hpb{
    background-color: #F7F6F2;
    padding: 80px 40px;
}
.s4-hpb h1{
    margin-bottom: 10px;
    color: #001931;
}
.s4-hpb p{
    margin-bottom: 19px;
    color: #627382;
}
.s4-hpb button{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 11px;
    padding-top: 09px;
    background-color: #2ba05c;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
    
}
/* FooterFooterFooterFooterFooterFooter */
.foot{
    background-color: #001931;
   color: #f3f3f3;
}
.foot-p{
    text-align: center;
    padding-bottom: 20px;
    
}
.divi{
    width: 900px; 
    height: 1PX;
    margin: 20px auto;
    border-color: #7e7d7d;
    
}

.foot-content{
    display: flex;
    justify-content: space-between;
    padding: 120px 164px 120px;

}
